.errorStatus {
    font-size: 78px;
    font-weight: bold;
    color: var(--primary-600);
    text-shadow: 3px 3px 5px var(--primary-600);
}

p {
    color: var(--primary-600);
}

.underline {
    text-decoration: underline;
}