.wrapper {
  height: 91vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.wrapper :global(.p-fileupload) {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper :global(.p-fileupload-content) {
  flex: 1;
  display: flex;
}

.emptyUpload {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.spinnerOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.processingMessage {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
}

/* простая анимация точек */
.dot {
  width: 10px;
  height: 10px;
  background-color: #6366f1;
  border-radius: 50%;
  animation: bounce 1s infinite ease-in-out;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}
.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}